<!-- <header>
  <nav>
    <div class="logo">
      <h2 class="logo-text">Quiz-Mania</h2>
    </div>
    <div class="nav-options">
      <button class="login-button">Login</button>
      <button class="create-quiz-button">Create a new Quiz</button>
    </div>
  </nav>
</header> -->

<!-- <% if (user) {%>
  <p>
    <h5>Logged in as: <%= user.email %>! </h5>
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-outline-dark" ml-1>Logout</button>
    </form>
<% } else {%>
  <div id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/register">Register</a>
      <a class="nav-item nav-link" href="/login">Login</a>
    </div>
  </div>
<% }%>   -->
<!-- put into body of all pages <%- include('partials/_header') %> -->
