<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Quiz-Mania: Create a Quiz</title>


    <!-- TimeAgo CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Font Awesome Loader -->
    <script src="https://kit.fontawesome.com/7c113315e9.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <!-- Font Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;1,100;1,300&display=swap" rel="stylesheet">


    <!-- Main CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <!-- Nav Bar CSS -->
    <link rel="stylesheet" href="/styles/nav-bar.css" />

    <!-- Quiz Container CSS -->
    <link rel="stylesheet" href="/styles/create-quiz-container.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script defer src="/scripts/create-quiz.js"></script>

  </head>

  <body>
    <nav>
      <div class="logo">
        <button class="logo-button" name="home-button">
          <h2 class="logo-text">Quiz-Mania</h2>
        </button>
      </div>
      <div class="nav-options">
        <button class="nav-button login">Login</button>
        <button class="nav-button" name="create-quiz">Create a new Quiz</button>
      </div>
    </nav>

    <div class="create-quiz-container">
      <div class="create-quiz-form">
        <h1>Create a new Quiz</h1>

        <form class="create-quiz-input">
          <div class="create-quiz-header">
            <Label>Quiz Name*</Label>
            <input type="text" name="quizName">
            <select id="difficulty-select" name="difficulty" required="required">
              <option value="" disabled selected>Difficulty Level</option>
              <option value="normal">Normal</option>
              <option value="hard">Hard</option>
            </select>
            <select id="category-select" name="category" required="required">
              <option value="" disabled selected>Category</option>
              <option value="games">Games</option>
              <option value="general">General</option>
              <option value="movies">Movies</option>
            </select>
            <label class="public-checkbox">Public
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </form>

        <div class="add-question-button">
          <button id="add-question-button">Add Question</button>
        </div>


        <div class="create-button">
          <button id="create-button">Create Quiz</button>
        </div>

        <div class="cancel-create-button">
          <button id="cancel-create-button">Cancel</button>
        </div>

      </div>


    </div>
  </body>


</html>
