.create-quiz-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 5em;
}

.create-quiz-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 1em;
  padding: 1em;
  background-color: rgb(19,62,124);
  margin: 0em 2em;
}

.create-quiz-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.question-input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}

.answer-select {
  margin-top: 1em;
}

input[type='text'] {
  background-color: rgb(19,62,124);
  color: rgb(234, 0, 217);
  outline: none;
  border-width: 0 0 3px;
  border-color: rgb(234, 0, 217);
}

.question-input-field input[type='text'] {
  width: 100%;
}

select {
  background-color: rgb(19,62,124);
  color: rgb(234, 0, 217);
  border: solid;
  border-radius: 0.5em;
  border-color: rgb(10, 189, 198);
  text-align: center;
  padding: 0em 0.5em;
 }

 #add-question-button {
   background-color: transparent;
   border-radius: 0.5em;
   border: solid;
   border-color: rgb(10, 189, 198);
   color: rgb(234, 0, 217);
   margin: 1em;
   padding: 0em 0.5em;
  }

  #add-question-button:disabled {
    display: none;
  }

  #cancel-create-button {
   background-color: transparent;
   border-radius: 0.5em;
   border: solid;
   border-color: rgb(10, 189, 198);
   color: rgb(10, 189, 198);
   padding: 0em 0.5em;
   margin: 1em;
  }

  #create-button {
    background-color: transparent;
    border-color: rgb(234, 0, 217);
    border: solid;
    border-radius: 1em;
    color: rgb(234, 0, 217);
    font-size: 32px;
    font-weight: bold;
    margin: 1em;
    padding: 0em 0.5em;
  }

  #create-button:disabled {
    display: none;
 }
