body {
  font-family: "Poppins", sans-serif;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545149;
  background: rgb(9,24,51);
  font-size: 24px;
}

h1 {
  color: rgb(10, 189, 198);
}
//when create new scss file, a .gitkeep #.css file will be created generated and can't make changes in them, can only make changes on scss and it will automatcially change the # .css file accordingly


