nav {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background: rgb(19,62,124);
  align-self: flex-start;

}

.nav-options {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 0.5em;
}

.logo {
  color: rgb(234, 0, 217);
  margin-left: 1em;
}

.logo-text {
  border: solid;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.login-button {
  background-color: transparent;
  border-color: rgb(10, 189, 198);
  border: solid;
  border-radius: 1em;
  color: rgb(10, 189, 198);
  font-size: 32px;
  font-weight: bold;
  padding: 0em 0.5em;
}

.create-quiz-button {
    background-color: transparent;
    border-color: rgb(10, 189, 198);
    border: solid;
    border-radius: 1em;
    color: rgb(10, 189, 198);
    font-size: 32px;
    font-weight: bold;
    padding: 0em 0.5em;
    margin-right: 1em;
}
